.mainContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}

.orderSummeryBox {
    background-color: white;
    width: 80vw;
    height: 700px;
    box-sizing: border-box;
    overflow: hidden;
}

.Btn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    margin-top: 30px;

}

.orderHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.5vmax;
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
}

.data {
    margin-top: 3vmax;
    padding: 3vmax;
    justify-content: center;
    margin-left: 2vmax;
    background-color: aliceblue;
}